# {{ ansible_managed }}

# Global tuned configuration file.

# Whether to use daemon. Without daemon it just applies tuning. It is
# not recommended, because many functions don't work without daemon,
# e.g. there will be no D-Bus, no rollback of settings, no hotplug,
# no dynamic tuning, ...
daemon = {{ tuned_main_conf_daemon }}

# Dynamicaly tune devices, if disabled only static tuning will be used.
dynamic_tuning = {{ tuned_main_conf_dynamic_tuning }}

# How long to sleep before checking for events (in seconds)
# higher number means lower overhead but longer response time.
sleep_interval = {{ tuned_main_conf_sleep_interval }}

# Update interval for dynamic tunings (in seconds).
# It must be multiply of the sleep_interval.
update_interval = {{ tuned_main_conf_update_interval }}

# Recommend functionality, if disabled "recommend" command will be not
# available in CLI, daemon will not parse recommend.conf but will return
# one hardcoded profile (by default "balanced").
recommend_command = {{ tuned_main_conf_recommend_command }}

# Whether to reapply sysctl from e.g /etc/sysctl.conf, /etc/sysctl.d, ...
# If enabled those sysctl will be re-appliead after Tuned sysctl are
# applied, i.e. Tuned sysctl will not override system sysctl.
reapply_sysctl = {{ tuned_main_conf_reapply_sysctl }}
